@media screen and (max-width: 960px) {
  .sidebar {
    width: auto;
  }

  .sidebar .logo::before {
    content: "S";
  }

  .sidebar .logo span,
  .sidebar nav span {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .sidebar {
    position: absolute;
    left: -100%;
    width: 70%;
    z-index: 10;
    transition: left 0.25s;
  }

  .sidebar.is-active {
    left: 0;
    z-index: 100 !important;
  }

  .sidebar.is-active .logo::before {
    content: none;
  }

  .sidebar.is-active .logo span,
  .sidebar.is-active nav span {
    display: flex;
  }

  header .menu {
    display: flex !important;
  }
}
