.content-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.content-header .header-bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.content-header .header-bar div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.content-header .header-bar button.menu {
  display: none;
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 3px;
}

.content-header .tabs {
  user-select: none;
  display: flex;
  gap: 0.75rem;
  padding: 0 1rem;
  border-bottom: 1px solid #ddd;
  width: 100%;
}

.content-header .tabs li {
  position: relative;
  color: #b9c2cf;
  padding: 0.75rem 5px;
  font-size: clamp(17px, 1.25vw, 18px);
  font-weight: bold;
  cursor: pointer;
}

.content-header .tabs li::before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: black;
  transform: translate(-50%);
  transition: width 0.25s;
}

.content-header .tabs li:hover,
.content-header .tabs li.is-active {
  color: black;
}

.content-header .tabs li:hover::before,
.content-header .tabs li.is-active::before {
  width: 100%;
}

section {
  max-width: 100%;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 1rem;
  overflow: hidden;
}

.section-overview {
  flex: 0 0 auto;
}

.section-overview small {
  opacity: 0.7;
}

.section-overview span {
  font-size: 20px;
  font-weight: bold;
}

.section-overview li {
  flex: 1 1 auto;
  background-color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.section-overview ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.sidebar {
  user-select: none;
  background-color: #232629;
  width: min(200px, 15vw);
  height: 100%;
  position: sticky;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
}

.sidebar a {
  color: white;
}

.sidebar i {
  width: 20px;
  height: 20px;
  background-size: 100%;
}

.sidebar nav {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.75rem;
  width: 100%;
  color: white;
}

.sidebar nav a {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0.75rem;
  background-color: #303440;
  border-radius: 5px;
  transition: background-color 0.2s;
  color: white;
}

.sidebar nav a:hover,
.sidebar nav a.is-active {
  background-color: #5048d7;
}

.sidebar .logo {
  padding-top: 2rem;
  font-size: 16px;
  font-family: "Poppins";
  letter-spacing: 1px;
}

.list {
  background-color: white;
  overflow-y: auto;
}

.list li {
  flex: 1 1 auto;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 3px;
  padding: 0.75rem 5px;
  border-bottom: 1px solid #e7e8e9;
  transition: background-color 0.25s;
}

.list li[title="check"] {
  flex: 0 0 auto;
  width: 40px;
}

.list .title {
  position: sticky;
  top: 0;
  z-index: 100;
}

.list .title li[title="title"] {
  justify-content: center;
}

.list li[title="title"] {
  flex: 0 0 auto;
  width: min(400px, 25vw);
  gap: 0.5rem;
  justify-content: flex-start;
}

.list li[title="title"] img {
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
}

.list li[title="title"] div {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: 2;
}

.list .title li {
  padding: 5px 0.5rem;
  background-color: #f7f8f9;
  color: #454e72;
}

.list ul:not(.title):hover li {
  background-color: #edecfb !important;
}

.list ul {
  display: flex;
}
